<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="d-flex">
        <h3>Liste des pays</h3>
        <!-- Bouton pour ajouter un nouveau pays -->
        <button class="btn btn-success ms-5" routerLink="/admin/form-country">Ajouter un pays</button>
    </div>
      

      <div class="mt-4">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Code</th>
              <th scope="col">Nom</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <!-- Boucle pour afficher les pays -->
            <tr *ngFor="let country of countries">
              <td>{{ country.id }}</td>
              <td>{{ country.code }}</td>
              <td>{{ country.name }}</td>
              <td>
                <!-- Boutons pour modifier et supprimer -->
                <button class="btn btn-warning me-2" [routerLink]="'/admin/form-country/' + country.code">Modifier</button>
                <button class="btn btn-danger" (click)="deleteCountry(country.id)">Supprimer</button>
              </td>
            </tr>
          </tbody>
        </table>

        
      </div>
    </div>
  </div>
</div>