<div class="login-status-header">

    <div *ngIf="isAuthenticated && userFullName" class="login-status-user-info">
        Bienvenue {{ userFullName }} !
    </div>

    <button *ngIf="!isAuthenticated" routerLink="/login" class="security-btn">Connexion</button>

    <div *ngIf="isAuthenticated" class="dropdown ms-1">
        <button class="security-btn dropbtn"><i class="fa-solid fa-gear"></i></button>
        <div class="dropdown-content">
          <a routerLink="/order-history" href="#">Commandes</a>
          <a routerLink="/members">Membre</a>
          <a routerLink="/admin" href="#">Espace admin</a>
          <a style="color: red;" (click)="logout()">Deconnexion</a>
        </div>
    </div>

</div>