/*
    Copy from styles.css -> .au-btn-submit
    Rename as .security-btn
    Change border to 10px
*/
.security-btn {
    position:relative;
    right:0;
    min-width:95px;
    color:#fff;
    border:10px solid #205b8d;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:43px;
    background:#205b8d
}

/*
    Copy from styles.css -> .form-header
    Rename as .login-status-header
*/
.login-status-header{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex
}

/*
    Copy from styles.css -> .au-input
    Rename as .login-status-user-info
    - remove 'solid', 'font-size', 'color'
*/
.login-status-user-info {
    line-height:43px;
    border:1px;
    padding:0 17px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -webkit-transition:all .5s ease;
    -o-transition:all .5s ease;
    -moz-transition:all .5s ease;
    transition:all .5s ease
}


/*******************
*     DROPDOWN     *
********************/
/* Style du dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Style du bouton principal */
  .dropbtn {
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Style du contenu du dropdown (caché par défaut) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Style des liens dans le dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }
  
  /* Change la couleur du lien au survol */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Affiche le dropdown au survol du bouton */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
/***************************************************************/