<div class="login-status-header">

    <div *ngIf="isAuthenticated && userFullName" class="login-status-user-info">
        Bienvenue {{ userFullName }}!
    </div>

    <button *ngIf="!isAuthenticated" routerLink="/login" class="security-btn">Connexion</button>

    <button *ngIf="isAuthenticated" (click)="logout()" class="security-btn">Deconnexion</button>

    <button *ngIf="isAuthenticated" routerLink="/members" class="security-btn ms-1">Membre</button>

    <button *ngIf="isAuthenticated" routerLink="/order-history" class="security-btn ms-1">Commandes</button>


</div>