<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div *ngIf="checkoutFormGroup" class="container-fluid">
      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
        <!-- Formulaire client -->
        <div formGroupName="customer" class="form-area">
          <h3>Client</h3>

          <div class="row">
            <div class="col-md-2"><label>Prénom</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="firstName" type="text" />

                <div
                  *ngIf="
                    firstName?.invalid &&
                    (firstName?.dirty || firstName?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                        firstName?.errors?.['required'] ||
                        firstName?.errors?.['notOnlyWhitespace']
                      "
                  >
                    Le prénom est requis
                  </div>

                  <div *ngIf="firstName?.errors?.['minlength']">
                    Le prénom doit comporter au moins 2 caractères
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Nom</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="lastName" type="text" />

                <div
                  *ngIf="
                    lastName?.invalid && (lastName?.dirty || lastName?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                        lastName?.errors?.['required'] ||
                        lastName?.errors?.['notOnlyWhitespace']
                      "
                  >
                    Le nom est obligatoire
                  </div>

                  <div *ngIf="lastName?.errors?.['minlength']">
                    Le nom doit contenir au moins 2 caractères
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>E-mail</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="email" type="text" />

                <div
                  *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="email?.errors?.['required']">
                    L'e-mail est requis
                  </div>

                  <div *ngIf="email?.errors?.['pattern']">
                    L'e-mail doit être un format d'adresse e-mail valide
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Adresse de livraison -->
        <div formGroupName="shippingAddress" class="form-area">
          <h3>Adresse de livraison</h3>

          <div class="row">
            <div class="col-md-2"><label>Pays</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                  formControlName="country"
                  (change)="getStates('shippingAddress')"
                >
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{ country.name }}
                  </option>
                </select>

                <div
                  *ngIf="
                    shippingAddressCountry?.invalid &&
                    (shippingAddressCountry?.dirty ||
                      shippingAddressCountry?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="shippingAddressCountry?.errors?.['required']">
                    Le pays est requis
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Rue</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text" />

                <div
                  *ngIf="
                    shippingAddressStreet?.invalid &&
                    (shippingAddressStreet?.dirty ||
                      shippingAddressStreet?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                        shippingAddressStreet?.errors?.['required'] ||
                        shippingAddressStreet?.errors?.['notOnlyWhitespace']
                      "
                  >
                    La rue est obligatoire
                  </div>
                  <div *ngIf="shippingAddressStreet?.errors?.['minlength']">
                    La rue doit comporter au moins 2 caractères
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Ville</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" type="text" />

                <div
                  *ngIf="
                    shippingAddressCity?.invalid &&
                    (shippingAddressCity?.dirty || shippingAddressCity?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                        shippingAddressCity?.errors?.['required'] ||
                        shippingAddressCity?.errors?.['notOnlyWhitespace']
                      "
                  >
                    La ville est obligatoire
                  </div>
                  <div *ngIf="shippingAddressCity?.errors?.['minlength']">
                    La ville doit comporter au moins 2 caractères
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>État</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state">
                  <option
                    *ngFor="let state of shippingAddressStates"
                    [ngValue]="state"
                  >
                    {{ state.name }}
                  </option>
                </select>

                <div
                  *ngIf="
                    shippingAddressState?.invalid &&
                    (shippingAddressState?.dirty ||
                      shippingAddressState?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="shippingAddressState?.errors?.['required']">
                    L'état est requis
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Code postal</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" type="text" />

                <div
                  *ngIf="
                    shippingAddressZipCode?.invalid &&
                    (shippingAddressZipCode?.dirty ||
                      shippingAddressZipCode?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                        shippingAddressZipCode?.errors?.['required'] ||
                        shippingAddressZipCode?.errors?.['notOnlyWhitespace']
                      "
                  >
                    Le code postal est requis
                  </div>
                  <div *ngIf="shippingAddressZipCode?.errors?.['minlength']">
                    Le code postal doit comporter au moins 2 caractères
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Ajoute d'une case à cocher pour copier l'expédition dans la facturation -->
        <div class="input-space">
          <label class="au-checkbox">
            <input
              type="checkbox"
              (change)="copyShippingAddressToBillingAddress($event)"
            />
            <span class="au-checkmark"></span>L'adresse de facturation est
            identique à celle de l'expédition
          </label>
        </div>

        <!-- Adresse de facturation -->
        <div formGroupName="billingAddress" class="form-area">
          <h3>Adresse de facturation</h3>

          <div class="row">
            <div class="col-md-2"><label>Pays</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                  formControlName="country"
                  (change)="getStates('billingAddress')"
                >
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{ country.name }}
                  </option>
                </select>

                <div
                  *ngIf="
                    billingAddressCountry?.invalid &&
                    (billingAddressCountry?.dirty ||
                      billingAddressCountry?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="billingAddressCountry?.errors?.['required']">
                    Le pays est requis
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Rue</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text" />
                <div
                  *ngIf="
                    billingAddressStreet?.invalid &&
                    (billingAddressStreet?.dirty ||
                      billingAddressStreet?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                        billingAddressStreet?.errors?.['required'] ||
                        billingAddressStreet?.errors?.['notOnlyWhitespace']
                      "
                  >
                    La rue est obligatoire
                  </div>
                  <div *ngIf="billingAddressStreet?.errors?.['minlength']">
                    La rue doit comporter au moins 2 caractères
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Ville</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" type="text" />

                <div
                  *ngIf="
                    billingAddressCity?.invalid &&
                    (billingAddressCity?.dirty || billingAddressCity?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                        billingAddressCity?.errors?.['required'] ||
                        billingAddressCity?.errors?.['notOnlyWhitespace']
                      "
                  >
                    La ville est obligatoire
                  </div>
                  <div *ngIf="billingAddressCity?.errors?.['minlength']">
                    La ville doit comporter au moins 2 caractères
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>État</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state">
                  <option
                    *ngFor="let state of billingAddressStates"
                    [ngValue]="state"
                  >
                    {{ state.name }}
                  </option>
                </select>

                <div
                  *ngIf="
                    billingAddressState?.invalid &&
                    (billingAddressState?.dirty || billingAddressState?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="billingAddressState?.errors?.['required']">
                    L'état est requis
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Code postal</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" type="text" />

                <div
                  *ngIf="
                    billingAddressZipCode?.invalid &&
                    (billingAddressZipCode?.dirty ||
                      billingAddressZipCode?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                        billingAddressZipCode?.errors?.['required'] ||
                        billingAddressZipCode?.errors?.['notOnlyWhitespace']
                      "
                  >
                    Le code postal est requis
                  </div>

                  <div *ngIf="billingAddressZipCode?.errors?.['minlength']">
                    Le code postal doit comporter au moins 2 caractères
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Carte de crédit -->
        <div formGroupName="creditCard" class="form-area">

          <h3>Credit or Debit Card</h3>

          <div id="card-element">
              <!-- Un élément Stripe sera inséré ici -->
          </div>

          <!-- Utilisé pour afficher les erreurs de formulaire -->
          <div id="card-errors" class="displayError.textContent!=='': 'alert alert-danger mt-1'"></div>

        </div>

        <!-- Détails de la commande -->
        <div class="form-area">
          <h3>Vérifiez votre commande</h3>

          <p>Quantité totale: {{ totalQuantity }}</p>
          <p>Livraison: FREE</p>
          <p>Prix total: {{ totalPrice | currency : "EUR" }}</p>
        </div>

        <!-- Bouton submit -->
        <div class="text-center">
          <button type="submit" class="btn btn-info">Acheter</button>
        </div>
      </form>
    </div>
  </div>
</div>
